.stageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
}

.stage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}